<a href="https://colab.research.google.com/github/ishumann/Coding-Implementation/blob/main/Simple_ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [131]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as  pd

In [132]:

df = pd.read_csv('https://raw.githubusercontent.com/ishumann/Churn-Prediction/main/Bank_data.csv')

In [133]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [134]:
X= df.iloc[:,:-1]

y= df.iloc[:,-1]

In [135]:
y.shape

(10000,)

In [136]:
X.shape

(10000, 13)

In [137]:
X.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary'],
      dtype='object')

In [138]:
geo = pd.get_dummies(X["Geography"], dtype=int, drop_first =True)
gender = pd.get_dummies(X["Gender"],dtype=int, drop_first =True)

In [139]:
X = pd.concat([X,geo,gender], axis=1)
X = X.drop(['Geography','Surname','RowNumber','CustomerId', 'Gender','RowNumber'],axis=1)
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [140]:
from sklearn.model_selection import train_test_split

In [141]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= .3, random_state=42)

In [142]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [143]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU, PReLU, ELU
from keras.layers import Dropout

In [144]:

# classifier.add(Dense(units=,output_dim = 6, init = 'he_uniform', activation='relu',input_dim= 11))

In [145]:

# Build the model
model = Sequential([
    Dense(32, kernel_initializer= 'he_normal',activation='relu', input_shape=(11,)),  # Input layer with 6 features
    Dropout(0.3),
    Dense(16, kernel_initializer='he_normal',activation='relu'),  # Hidden layer with 6 neurons
    Dropout(0.2),
    Dense(8, kernel_initializer='he_normal',activation='relu'),  # Hidden layer with 6 neurons
    Dropout(0.1),
    Dense(1, kernel_initializer='glorot_uniform', activation='sigmoid')  # Output layer with 1 neuron (for binary classification)
])

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
history= model.fit(X_train, y_train, epochs=20, batch_size=15, validation_split=0.2)

Epoch 1/20
374/374 [==============================] - 2s 4ms/step - loss: 0.5387 - accuracy: 0.7748 - val_loss: 0.4630 - val_accuracy: 0.7943
Epoch 2/20
374/374 [==============================] - 1s 3ms/step - loss: 0.4870 - accuracy: 0.7905 - val_loss: 0.4444 - val_accuracy: 0.7943
Epoch 3/20
374/374 [==============================] - 1s 3ms/step - loss: 0.4747 - accuracy: 0.7914 - val_loss: 0.4338 - val_accuracy: 0.7943
Epoch 4/20
374/374 [==============================] - 1s 3ms/step - loss: 0.4616 - accuracy: 0.7937 - val_loss: 0.4279 - val_accuracy: 0.7971
Epoch 5/20
374/374 [==============================] - 1s 3ms/step - loss: 0.4552 - accuracy: 0.7979 - val_loss: 0.4171 - val_accuracy: 0.8043
Epoch 6/20
374/374 [==============================] - 1s 3ms/step - loss: 0.4476 - accuracy: 0.7989 - val_loss: 0.4110 - val_accuracy: 0.8136
Epoch 7/20
374/374 [==============================] - 1s 3ms/step - loss: 0.4380 - accuracy: 0.8066 - val_loss: 0.4012 - val_accuracy: 0.8207
Epoch 8/20
374/374 [==============================] - 1s 3ms/step - loss: 0.4248 - accuracy: 0.8138 - val_loss: 0.3968 - val_accuracy: 0.8336
Epoch 9/20
374/374 [==============================] - 1s 4ms/step - loss: 0.4276 - accuracy: 0.8171 - val_loss: 0.3917 - val_accuracy: 0.8393
Epoch 10/20
374/374 [==============================] - 2s 5ms/step - loss: 0.4112 - accuracy: 0.8273 - val_loss: 0.3830 - val_accuracy: 0.8400
Epoch 11/20
374/374 [==============================] - 1s 3ms/step - loss: 0.4149 - accuracy: 0.8216 - val_loss: 0.3768 - val_accuracy: 0.8357
Epoch 12/20
374/374 [==============================] - 1s 3ms/step - loss: 0.4037 - accuracy: 0.8243 - val_loss: 0.3763 - val_accuracy: 0.8421
Epoch 13/20
374/374 [==============================] - 1s 3ms/step - loss: 0.4042 - accuracy: 0.8263 - val_loss: 0.3730 - val_accuracy: 0.8429
Epoch 14/20
374/374 [==============================] - 1s 3ms/step - loss: 0.3964 - accuracy: 0.8289 - val_loss: 0.3690 - val_accuracy: 0.8471
Epoch 15/20
374/374 [==============================] - 1s 3ms/step - loss: 0.3898 - accuracy: 0.8330 - val_loss: 0.3664 - val_accuracy: 0.8429
Epoch 16/20
374/374 [==============================] - 1s 3ms/step - loss: 0.3925 - accuracy: 0.8371 - val_loss: 0.3683 - val_accuracy: 0.8443
Epoch 17/20
374/374 [==============================] - 1s 3ms/step - loss: 0.3912 - accuracy: 0.8296 - val_loss: 0.3662 - val_accuracy: 0.8471
Epoch 18/20
374/374 [==============================] - 1s 3ms/step - loss: 0.3847 - accuracy: 0.8389 - val_loss: 0.3618 - val_accuracy: 0.8486
Epoch 19/20
374/374 [==============================] - 1s 4ms/step - loss: 0.3856 - accuracy: 0.8359 - val_loss: 0.3644 - val_accuracy: 0.8479
Epoch 20/20
374/374 [==============================] - 3s 8ms/step - loss: 0.3818 - accuracy: 0.8352 - val_loss: 0.3621 - val_accuracy: 0.8514

In [146]:
y_pred = model.predict(X_test)

94/94 [==============================] - 1s 7ms/step

In [147]:
y_pred = (y_pred>0.5)

In [148]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
cr= classification_report(y_test, y_pred)
ac= accuracy_score(y_test, y_pred)
print(cm)

[[2354   62]
 [ 348  236]]

In [149]:
print(cr)

              precision    recall  f1-score   support

           0       0.87      0.97      0.92      2416
           1       0.79      0.40      0.54       584

    accuracy                           0.86      3000
   macro avg       0.83      0.69      0.73      3000
weighted avg       0.86      0.86      0.84      3000

In [150]:
print(ac)

0.8633333333333333